loguru
requests
oss2
flask


mcp[cli]~=1.6.0
openai~=1.66.3
beautifulsoup4~=4.13.4
langchain-openai~=0.3.8
fitz~=0.0.1.dev2
html2text~=2025.4.15
pandas~= 2.2.3
xmltodict~=0.14.2
docx2markdown~=0.1.1
python-pptx~=1.0.2
PyPDF2~=3.0.1
tabulate~=0.9.0
xls2xlsx~=0.2.0
selenium~=4.32.0


prometheus_client~=0.21.1
opentelemetry-sdk~=1.32.1
opentelemetry-api~=1.32.1
opentelemetry-exporter-otlp~=1.32.1
opentelemetry-instrumentation-system-metrics~=0.53b1

aworld~=0.2.4